<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Lista de propietarios</h4>
                        <p class="category">seleccionar para editar</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table mat-table [dataSource]="propietarios" class="mat-elevation-z8 demo-table">
                            <ng-container matColumnDef="idPropietario">
                                <th mat-header-cell *matHeaderCellDef>ID</th>
                                <td mat-cell *matCellDef="let propietario">{{propietario.idPropietario}}</td>
                            </ng-container>

                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let propietario">{{propietario.nombre}} {{propietario.apellido1}} {{propietario.apellido2}}</td>
                            </ng-container>

                            <ng-container matColumnDef="numeroDocumento">
                                <th mat-header-cell *matHeaderCellDef>Nº Documento</th>
                                <td mat-cell *matCellDef="let propietario">{{propietario.numeroDocumento}}</td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef>EMAIL</th>
                                <td mat-cell *matCellDef="let propietario">{{propietario.email}}</td>
                            </ng-container>

                            <ng-container matColumnDef="movil">
                                <th mat-header-cell *matHeaderCellDef>MOVIL</th>
                                <td mat-cell *matCellDef="let propietario">{{propietario.movil}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="filacabecera"></tr>
                            <tr
                                mat-row
                                (click)="onClick(row)"
                                [class.demo-row-is-clicked]=""
                                 *matRowDef="let row; columns: filacabecera;"></tr>
                         </table>
                    </div>
                </div>
            </div>

        </div>
        <app-propietario-data *ngIf="mostrarDetalles" [propietario]="selectedPropietario" ></app-propietario-data>
    </div>
</div>

