<div class="col-md-8">
    <div class="card">
        <div class="header">
            <h4 class="title">Editar Datos</h4>
        </div>
        <div class="content">
            <form  [formGroup]="propietarioForm">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Nº Documento</label>
                            <input type="text" class="form-control" disabled placeholder="Identificación" value="nom" formControlName="numeroDocumento">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" placeholder="Email" formControlName="email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" value= "nomb" formControlName="nombre">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Primer Apellido</label>
                            <input type="text" class="form-control" placeholder="Primer Apellido" value="ape1" formControlName="apellido1">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Segundo Apellido</label>
                            <input type="text" class="form-control" placeholder="Segundo Apellido" value="ap2" formControlName="apellido2">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Direccion</label>
                            <input type="text" class="form-control" placeholder="Direccion" value="" formControlName="direccion">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Municipio</label>
                            <input type="text" class="form-control" placeholder="Municipio" value="" formControlName="municipio">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Provincia</label>
                            <input type="text" class="form-control" placeholder="Municipio" value="" formControlName="municipio">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Movil</label>
                            <input type="number" class="form-control" placeholder="Móvil" formControlName="movil">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>IBAN</label>
                            <input type="text" class="form-control" placeholder="IBAN" value= "" formControlName="iban">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right">Actualizar Datos</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-user">
        <div class="image">
            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
        </div>
        <div class="content">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                    <h4 class="title">Mike Andrew<br />
                        <small>michael24</small>
                    </h4>
                </a>
            </div>
            <p class="description text-center"> "Lamborghini Mercy <br>
                Your chick she so thirsty <br>
                I'm in that two seat Lambo"
            </p>
        </div>
        <hr>
        <div class="text-center">
            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
        </div>
    </div>
</div>
